body {
  background-color: #018281;
  font-family: sans-serif;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#home-folders {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 2%;
  top:2%;
  color: white;
  text-align: center;
}

#models-folders {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 25%;
  top: 20%;
  color: white;
  text-align: center;
}

#footer {
  position: absolute;
  bottom:0;
  width: 100%;
  height: 2.5rem;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-style: outset white 2px;
  background-color: #c3c3c3;
}

#home {
border: 2px white;
border-style: outset;
width: 100px;
text-align: center;
}

#time {
  border: 2px white;
  border-style: inset;
  width: 100px;
  text-align: center;
}

.x {
  text-align: center;
  /* justify-content: center; */
  border: 1px solid black;
  color: black;
  width: 18px;
  height: 18px;
  background-color: #c3c3c3;
}

.box {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: white;
  border: 2px white;
  border-style: outset;
  position: absolute;
  left: 35%;
  top: 15%;
}

.box-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 25px;
  background-color: #010081;
  color: white;
}

.box-content {
  text-align: center;
  justify-content: center;
}

a:hover{
  color: #010081;
  text-decoration: none;
}

a {
  color: inherit;
}