body {
  background-color: #018281;
  font-family: sans-serif;
}

a:hover{
  color: white;
  text-decoration: none;
}

a {
  color: inherit;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#home-folders {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 2%;
  top:2%;
  color: white;
  text-align: center;
}

#models-folders {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 25%;
  top: 20%;
  color: white;
  text-align: center;
}

#footer {
  position: absolute;
  bottom:0;
  width: 100%;
  height: 2.5rem;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-style: outset white 2px;
  background-color: #c3c3c3;
}

#home {
border: 2px white;
border-style: outset;
width: 100px;
text-align: center;
}

#time {
  border: 2px white;
  border-style: inset;
  width: 100px;
  text-align: center;
}





*{
  padding:0px;
  margin:0px;
}
button:focus{
  outline:none;
}

.static-box{
  width:400px;
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  border-style:solid;
  position:absolute;
  top:10%;
  left:70%;
  transform: translate(-20%,-50%);
  padding:1px;
}

.box{
  width:500px;
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  border-style:solid;
  position:absolute;
  top:20%;
  left:46%;
  transform: translate(-20%,-46%);
  padding:1px;
}
div.title{
  height:25px;
  width:100%;
  background:#000080;
  color:#FFF;
}
img.title{
  float:left;
}
p.title{
  margin:2px 0 0 1px;
  float:left;
  font-family:Tahoma;
  font-weight:bold;
  font-size:14px;
}
.title button{
  /*position:absolute;
  right:3px;
  top:3px;*/
  margin:2px 2px 2px 0;
  float:right;
  width:18px;
  height:18px;
  background:#C0C0C0;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  padding:0;
  font-size:11px;
  font-weight:bold;
  font-family:Tahoma;
  text-align:center;
  focus:none;
}
div.content{
  text-align: center;
  padding:13px 12px 12px;
  height:100%;
  width:calc(100% - 26px);
  display:inline-block;
}
div.content p{
  font-family:"MS Sans Serif";
  font-size:14px;
}
div.content button{
  font-family:sans-serif;
  font-size:14px;
  outline:1px solid #000000;
  background:#C0C0C0;
  border-width:1px;
  border-style:solid;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  padding:4px 10px;
  margin:20px auto 3px;
  display:block;
  position:relative;
  bottom:0px;
}



/* .x {
  text-align: center; */
  /* justify-content: center;
  border: 1px solid black;
  color: black;
  width: 18px;
  height: 18px;
  background-color: #c3c3c3;
}

.spacer {
  width: 250px;
  height: auto;
} */

/* .box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  background-color: white;
  border: 2px white;
  border-style: outset;
  position: absolute;
  left: 35%;
  top: 15%;
} */

/* .box-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  height: 25px;
  background-color: #010081;
  color: white;
} */

/* .box-content {
  position: relative;
  left: 10%;
  padding-top: 10px;
  justify-content: center;
}

.inner-box {
  justify-content: center;
  background-color: #c3c3c3;
  width: 90%;
  height: 80%;
  border: black 1px inset;
} */

/* .button {
  border-style: outset;
  border: 1px black solid;
  border-style: inset;
  width: auto;
  margin-bottom: 15px;
} */




