@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add Machine</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)
  <input type="submit" value="Add" class="btn btn-default" />
}
<!-- <p>@Html.ActionLink("Show all stages", "Index")</p> -->