@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
<h2>Delete Machine?</h2>

@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
@Html.ActionLink("All machines", "Index")