@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
<div class="box" id="machines">
  <div class="title">
    <img src="~/img/Documents Folder.ico" width="25" height="25" class="title" />
    <p class="title">Delete Machine?</p>
    <button>X</button>
    <button>?</button>
  </div>
  <div class="content">
    @Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)
    @using (Html.BeginForm())
    {
      <input type="submit" value="Delete" />
    }
    <button>@Html.ActionLink("All machines", "Index")</button>
  </div>
</div>