@{
  Layout = "_Layout";
}

@using Factory.Models;
@model List<Factory.Models.Machine>;

<div class="box">
  <div class="title">
    <img src="~/img/Documents Folder.ico" width="25" height="25" class="title" />
    <p class="title"> Machines </p>
    <button>X</button>
    <button>?</button>
  </div>
  <div class="content">
    @if (@Model.Count == 0)
    {
      <h3> No machines have been added </h3>
    }

    @foreach (Machine machine in Model)
    {
      <li>@Html.ActionLink($"{machine.Type}", "Details", new { id = machine.MachineId })</li>
    }
    <br>
    <button>@Html.ActionLink("Add Machine", "Create")</button>
  </div>
</div>


