@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="box">
  <div class="title">
    <img src="~/img/Documents Folder.ico" width="25" height="25" class="title" />
    <p class="title">Add Engineer</div>
    <button>X</button>
    <button>?</button>
  </div>
  <div class="content">
    @using (Html.BeginForm())
    {
      @Html.LabelFor(model => model.Name, "Name: ")
      @Html.TextBoxFor(model => model.Name)
      <br>
      @Html.Label("Assign Machine")
      @Html.DropDownList("MachineId")

      <br>
      <input type="submit" value="Add" class="button" />    
    }
  </div>
</div>
