@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="box" id="engineers">
  <div class="title">
    <img src="~/img/Documents Folder.ico" width="25" height="25" class="title" />
    <p class="title"> Delete Engineer?</p>
    <button>X</button>
    <button>?</button>
  </div>
  <div class="content">
    Delete @Html.DisplayFor(model => model.Name)?
    
    @using (Html.BeginForm())
    {
      <input type="submit" value ="Delete" class="button" />
    }
    <br>
    <button>@Html.ActionLink("All Engineers", "Index")</button>
  </div>
</div>