@{
  Layout = "_Layout";
}


@using Factory.Models;
@model List<Factory.Models.Engineer>;

<div class="box" id="engineers">
  <div class="title">
    <img src="~/img/Documents Folder.ico" width="25" height="25" class="title" />
    <p class="title">Engineers</p>
    <button>@Html.ActionLink("X","Index", "Home")</button>
    <button>?</button>
  </div>
  <div class="content">
    @if (@Model.Count == 0)
    {
      <h4>You have no engineers</h4>
    }  
    <div class="index-display">
      @* <ol> *@
      @foreach (Engineer engineer in Model)
      {
        <p class="each-engineeer">@Html.ActionLink($"{engineer.Name}", "Details", new { id = engineer.EngineerId })</p>
      }
      @* </ol> *@
    </div>
    <button>@Html.ActionLink("Add", "Create")</button>
  </div>
</div>



